@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:has(.modal.open) {
  overflow: hidden;
}

body:has(.modal.open) > #root {
  transition: transform 0.2s ease-in-out;
  transform: scale(0.9);
}

#root, body:has(.modal.leaving) > #root {
  transition: transform 0.2s ease-in-out;
  transform: unset;
}

@media screen and (min-width: 640px) {
  :root {
    font-size: 16px;
  }
}